/* Coolors Exported Palette - https://coolors.co/f1f7ed-243e36-7ca982 */

/* CSS HEX */
--mint-cream: #f1f7edff;
--dark-slate-gray: #243e36ff;
--cambridge-blue: #7ca982ff;

/* CSS HSL */
--mint-cream: hsla(96, 38%, 95%, 1);
--dark-slate-gray: hsla(162, 27%, 19%, 1);
--cambridge-blue: hsla(128, 21%, 57%, 1);

/* SCSS HEX */
$mint-cream: #f1f7edff;
$dark-slate-gray: #243e36ff;
$cambridge-blue: #7ca982ff;

/* SCSS HSL */
$mint-cream: hsla(96, 38%, 95%, 1);
$dark-slate-gray: hsla(162, 27%, 19%, 1);
$cambridge-blue: hsla(128, 21%, 57%, 1);

/* SCSS RGB */
$mint-cream: rgba(241, 247, 237, 1);
$dark-slate-gray: rgba(36, 62, 54, 1);
$cambridge-blue: rgba(124, 169, 130, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f1f7edff, #243e36ff, #7ca982ff);
$gradient-right: linear-gradient(90deg, #f1f7edff, #243e36ff, #7ca982ff);
$gradient-bottom: linear-gradient(180deg, #f1f7edff, #243e36ff, #7ca982ff);
$gradient-left: linear-gradient(270deg, #f1f7edff, #243e36ff, #7ca982ff);
$gradient-top-right: linear-gradient(45deg, #f1f7edff, #243e36ff, #7ca982ff);
$gradient-bottom-right: linear-gradient(135deg, #f1f7edff, #243e36ff, #7ca982ff);
$gradient-top-left: linear-gradient(225deg, #f1f7edff, #243e36ff, #7ca982ff);
$gradient-bottom-left: linear-gradient(315deg, #f1f7edff, #243e36ff, #7ca982ff);
$gradient-radial: radial-gradient(#f1f7edff, #243e36ff, #7ca982ff);